
body{
    header{
        .menu{
            max-width:1200px;
            margin:0 auto;
            .navbar{
                .collapse.navbar-collapse{
                    .d-flex{
                        margin-bottom:0;
                    }
                    .navbar-nav{
                        margin-right:0!important;
                        margin-left:auto;
                    }
                }
            }
        }
    }
}