$colors:(
    primary:#FFCD00,
    secondary: #000000,
    third: #FFFFFF,
    fourth: #ab987a,
    fifth: #0F1626,
    sixth: #402102
);
body{
    header{
        .menu{
            max-width:1200px;
            margin:0 auto;
            .navbar{
                .collapse.navbar-collapse{
                    .d-flex{
                        margin-bottom:0;
                        margin-left: 3em!important;
                    }
                    .navbar-nav{
                        margin-right:3em!important;
                        margin-left:auto;
                    }
                }
            }
        }
    }
    .content{
        max-width: 1200px;
        margin:0 auto;
        margin-top:3em;
        .content-left{
            padding-left:2em;
            .card{
                box-shadow: 1px 3px 3px 1px fade-out(black,0.8);
                & > .row{
                    & > .col-md-4{
                        padding:1em;
                    }
                }
            }
            .card:hover{
                box-shadow: 1px 3px 4px 2px fade-out(black,0.5);
                cursor: pointer;
            }
        }
        .content-right{
            .socials{
                margin-top:2em;
                padding:0.5em;
                box-shadow: 1px 1px 3px 3px fade-out(black,0.8);
                border:1px solid fade-out(black,0.8)
            }
            .list{
                margin-top:2em;
                padding:0.5em;
                box-shadow: 1px 1px 3px 3px fade-out(black,0.8);
                border:1px solid fade-out(black,0.8);
                .list-title{
                   padding-left:1em;
                }
                ol{
                    list-style-type: decimal;
                }
            }
        }   
    }
    .footer{
    
        margin-top:3em;
        a:hover{
            text-decoration:none;
        }
        .section-padding {
            padding:2em 0;
        }
        .bottom {
            background-color: map-get($colors,sixth);
            .container{
                max-width: 1200px;
                margin:0 auto;
            }
        }
        .bottom .copyright {
            color: #e5e5e5;
            font-weight: 600;
        }
        .copyright a {
            color: map-get($colors,fourth);
            text-decoration: none;
            margin-left: 3px;
            padding-right: 3px;
        }
        .bottom p {
            margin-bottom: 0;
            line-height: 50px;
            font-size: 16px;
            font-weight: 400;
        }
        .copyright p span {
            color: #d1caca;
        }
        .bottom .copyright p, .bottom .copyright a:hover{
            color: #ab987a;
        }
        
    //     .social:hover {
    //         -webkit-transform: scale(1.1);
    //         -moz-transform: scale(1.1);
    //         -o-transform: scale(1.1);
    //     }
    //     .social {
    //         -webkit-transform: scale(0.8);
    //         /* Browser Variations: */
            
    //         -moz-transform: scale(0.8);
    //         -o-transform: scale(0.8);
    //         -webkit-transition-duration: 0.2s;
    //         -moz-transition-duration: 0.2s;
    //         -o-transition-duration: 0.2s;
    //     }
       
    //    /*
    //        Multicoloured Hover Variations
    //    */
    //     a.social{
    //         color:white;
    //     }
    //     #social-fb:hover {
    //         color: #3B5998!important;
    //     }
    //     #social-tw:hover {
    //         color: #4099FF!important;
    //     }
    //     #social-gp:hover {
    //         color: #d34836!important;
    //     }
    //     #social-em:hover {
    //         color: #f39c12!important;
    //     }
    }
}